/* styles.css */
 .app-container {
  margin: 20px auto;
  display: flex;
      flex-direction: column;
  /* Створення вертикального макету */
  align-items: center;
  /* Зовнішні відступи */
  min-width: 750px;
  /* Максимальна ширина контейнера */
  padding: 0 20px;
  /* Внутрішні відступи */
}
/* Стилі для пошукової панелі */
.search-bar {
  margin-bottom: 20px;
}

/* Стилі для контейнера зображень */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Створення сіткового макету */
  gap: 20px;
  /* Проміжок між картками зображень */
  list-style: none;
  /* Вимкнення маркерів списку */
  padding: 0;
  /* Зняття відступів */
}

/* Стилі для кожної картки зображення */
.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стилі для зображення */
.image-card img {
  width: 100%;
  /* Зображення розтягується на всю ширину картки */
  height: auto;
  /* Збереження пропорцій */
  display: block;
  /* Зображення відображається як блок */
}

/* Стилі для назви користувача */
.image-card .user-name {
  position: absolute;
  /* Розташування абсолютно */
  bottom: 0;
  /* Відстань від нижнього краю */
  left: 0;
  /* Відстань від лівого краю */
  background-color: rgba(0, 0, 0, 0.7);
  /* Прозорий фон */
  color: #fff;
  /* Колір тексту */
  padding: 5px 10px;
  /* Відступи внутрішні */
  border-top-right-radius: 8px;
  /* Закруглення верхнього правого кута */
}